In [1]:
import pandas as pd
import numpy as np
from scipy.spatial import distance
# import pixiedust                   ##debuger
# import glob, os

In [2]:
all_stim = pd.read_csv('2018_03_07_13_40_17_stim.csv', sep=';')

In [3]:
responses = pd.read_csv('2018_03_07_13_40_17.csv', sep=';', encoding = "ISO-8859-1")

# Feature task

In [4]:
#clean feature response with "bad response"
resp_feat = responses[responses["FeatConj"] == 0]
bad_feat = resp_feat.loc[(resp_feat['stType'] == ' distractor2 ') | (resp_feat['stType'] == ' distractor1 '), 
                         'trialN'].tolist()
resp_feat = resp_feat[~resp_feat['trialN']
          .isin(bad_feat)]
resp_feat = resp_feat.reset_index(drop=True)
resp_feat.head()

,participantN,age,gender,trialN,task,condition,FeatConj,setSize,proportion,timelimit,...,col,row,touchX,touchY,touchDist,targDist,touchN,error,switches,changeScreen
0,24,0,NaN,0,0,b/y,0,40,50,0.0,...,0.0,5.0,140.5,505.5,0.000000,0.000000,1,0,2,0
1,24,0,NaN,0,0,b/y,0,40,50,0.0,...,1.0,4.0,210.5,422.5,105.261579,114.687740,2,0,0,0
2,24,0,NaN,0,0,b/y,0,40,50,0.0,...,0.0,1.0,133.5,189.5,234.175682,244.654289,3,0,1,0
3,24,0,NaN,0,0,b/y,0,40,50,0.0,...,2.0,1.0,294.5,216.0,162.098735,151.908948,4,0,1,0
4,24,0,NaN,0,0,b/y,0,40,50,0.0,...,3.0,0.0,408.0,130.5,132.983082,146.506320,5,0,1,0

In [5]:
resp_feat1 = resp_feat.rename(columns={'stType': 'type', 
                                          'stPosX': 'pos_x_r', 
                                          'stPosY': 'pos_y_r',
                                         'trialN': 'trial_r',
                                      'participantN': 'p_n'})
resp_feat1['pos_x_r'] = np.around(resp_feat1['pos_x_r'], decimals=2)
resp_feat1['pos_y_r'] = np.around(resp_feat1['pos_y_r'], decimals=2)
resp_feat['resp_pos'] = resp_feat1.apply(lambda x: list([x['pos_x_r'], x['pos_y_r']]) , axis=1)
resp_feat1['pos_r'] = list(zip(resp_feat1['pos_x_r'], resp_feat1['pos_y_r']))

resp_feat_c = resp_feat1.loc[:, resp_feat1.columns.intersection(['type', 
                                                             'pos_r',
                                                             'trial_r',
                                                               'p_n',
                                                                'pos_x_r',
                                                                'pos_y_r'])]

resp_feat1 = resp_feat1.loc[:, resp_feat1.columns.intersection(['type', 
                                                             'pos_r',
                                                             'trial_r',
                                                               'p_n'])]

resp_feat1 = resp_feat1.reset_index(drop=True)
resp_feat1.type = resp_feat1.type.str.strip()

In [6]:
resp_feat_c

     p_n  trial_r     type  pos_x_r  pos_y_r             pos_r
0     24        0  target2   140.73   505.90   (140.73, 505.9)
1     24        0  target2   223.86   426.89  (223.86, 426.89)
2     24        0  target1   142.42   196.19  (142.42, 196.19)
3     24        0  target2   293.52   211.91  (293.52, 211.91)
4     24        0  target1   408.57   121.20   (408.57, 121.2)
..   ...      ...      ...      ...      ...               ...
195   24        9  target2   870.54   247.96  (870.54, 247.96)
196   24        9  target2   887.70   563.17   (887.7, 563.17)
197   24        9  target1   876.91   637.65  (876.91, 637.65)
198   24        9  target2   748.82   417.71  (748.82, 417.71)
199   24        9  target2   637.14   262.60   (637.14, 262.6)

[200 rows x 6 columns]

In [7]:
resp_feat_c['x1'] = resp_feat_c['pos_x_r'].apply(lambda x: x + 100)
resp_feat_c['x2'] = resp_feat_c['pos_x_r'].apply(lambda x: x - 100)
resp_feat_c['y1'] = resp_feat_c['pos_y_r'].apply(lambda x: x + 100)
resp_feat_c['y2'] = resp_feat_c['pos_y_r'].apply(lambda x: x - 100)

In [8]:
resp_feat_c

,p_n,trial_r,type,pos_x_r,pos_y_r,pos_r,x1,x2,y1,y2
0,24,0,target2,140.73,505.90,"(140.73, 505.9)",240.73,40.73,605.90,405.90
1,24,0,target2,223.86,426.89,"(223.86, 426.89)",323.86,123.86,526.89,326.89
2,24,0,target1,142.42,196.19,"(142.42, 196.19)",242.42,42.42,296.19,96.19
3,24,0,target2,293.52,211.91,"(293.52, 211.91)",393.52,193.52,311.91,111.91
4,24,0,target1,408.57,121.20,"(408.57, 121.2)",508.57,308.57,221.20,21.20
...,...,...,...,...,...,...,...,...,...,...
195,24,9,target2,870.54,247.96,"(870.54, 247.96)",970.54,770.54,347.96,147.96
196,24,9,target2,887.70,563.17,"(887.7, 563.17)",987.70,787.70,663.17,463.17
197,24,9,target1,876.91,637.65,"(876.91, 637.65)",976.91,776.91,737.65,537.65
198,24,9,target2,748.82,417.71,"(748.82, 417.71)",848.82,648.82,517.71,317.71
199,24,9,target2,637.14,262.60,"(637.14, 262.6)",737.14,537.14,362.60,162.60

In [9]:
feat_r = resp_feat1.values.tolist()

In [10]:
#only useful df of all stimuli for feature task
all_feat = all_stim[all_stim["FeatConj"] == 0]
feat_target = all_feat[(all_feat['stType'] == 'target1') 
                       | (all_feat['stType'] == 'target2')]
feat_distr = all_feat[(all_feat['stType'] == 'distractor1') 
                      | (all_feat['stType'] == 'distractor2')]

In [11]:
#useful targets for feature (only 3 columns)
feat_rest_t = feat_target[~feat_target['trialN']
          .isin(bad_feat)]
feat_rest_t = feat_rest_t.rename(columns={'stType': 'target', 
                                          'posX': 'pos_x_t', 
                                          'posY': 'pos_y_t',
                                         'trialN': 'trial_t',
                                         'participantN': 'p_n_t'})
feat_rest_t['pos_x_t'] = np.around(feat_rest_t['pos_x_t'], decimals=2)
feat_rest_t['pos_y_t'] = np.around(feat_rest_t['pos_y_t'], decimals=2)
feat_rest_t['pos_t'] = list(zip(feat_rest_t['pos_x_t'], feat_rest_t['pos_y_t']))
feat_rest_t = feat_rest_t.loc[:, feat_rest_t.columns.intersection(['target',
                                                                   'pos_t',
                                                                   'trial_t',
                                                                  'p_n_t'])]
feat_rest_t = feat_rest_t.reset_index(drop=True)

In [12]:
#numbers of trials in list
trials = feat_rest_t['trial_t'].unique()
trials = trials.astype(np.int32).tolist()

In [13]:
participant = feat_rest_t['p_n_t'].unique()
participant = participant.astype(np.int32).tolist()

In [14]:
dfs_tar_f = dict(tuple(feat_rest_t.groupby('target')))
feat_t1 = dfs_tar_f['target1']
feat_t2 = dfs_tar_f['target2']

In [15]:
t1 = dict(tuple(feat_t1.groupby('trial_t')))
t2 = dict(tuple(feat_t2.groupby('trial_t')))

In [16]:
def closest_node(node, nodes):
    indexArr = np.argwhere(nodes == node)
    nodes = np.delete(nodes,indexArr, 0)
    closest_index = distance.cdist([node], nodes, 'euclidean').argmin()
    return nodes[closest_index]

In [17]:
# %%pixie_debugger 
closest_same = []
for n in range(0, len(participant)):
    part = participant[n]
    for i in range(0, len(trials)):
        n_tr = trials[i]
        t1_arr = np.array(t1.get(trials[i])['pos_t'].values.tolist())
        t2_arr = np.array(t2.get(trials[i])['pos_t'].values.tolist())
        for j in range(0, len(feat_r)):
            if part == feat_r[j][0]:
                if n_tr == feat_r[j][1]:
                    if feat_r[j][2] == 'target1':
                        closest_t1 = closest_node(feat_r[j][3], t1_arr)                          
                        closest_same.append(closest_t1.tolist())         
                    else:
                        closest_t2 = closest_node(feat_r[j][3], t2_arr)                         
                        closest_same.append(closest_t2.tolist())
                else:
                    i += 1
            else:
                n += 1

In [18]:
resp_feat['closest_same_target'] = closest_same

In [19]:
closest_other = []
for n in range(0, len(participant)):
    part = participant[n]
    for i in range(0, len(trials)):
        n_tr = trials[i]
        t1_arr = np.array(t1.get(trials[i])['pos_t'].values.tolist())
        t2_arr = np.array(t2.get(trials[i])['pos_t'].values.tolist())
        for j in range(0, len(feat_r)):
            if part == feat_r[j][0]:
                if n_tr == feat_r[j][1]:
                    if feat_r[j][2] == 'target2':
                        closest_t1 = closest_node(feat_r[j][3], t1_arr)                          
                        closest_other.append(closest_t1.tolist())         
                    else:
                        closest_t2 = closest_node(feat_r[j][3], t2_arr)                         
                        closest_other.append(closest_t2.tolist())
                else:
                    i += 1
            else:
                n += 1

In [20]:
resp_feat['closest_other_taget'] = closest_other

In [21]:
feat_rest_d = feat_distr[~feat_distr['trialN']
          .isin(bad_feat)]
feat_rest_d = feat_rest_d.rename(columns={'stType': 'distractor', 
                                          'posX': 'pos_x_d', 
                                          'posY': 'pos_y_d',
                                         'trialN': 'trial_d',
                                         'participantN': 'p_n_d'})
feat_rest_d['pos_x_d'] = np.around(feat_rest_d['pos_x_d'], decimals=2)
feat_rest_d['pos_y_d'] = np.around(feat_rest_d['pos_y_d'], decimals=2)
feat_rest_d['pos_d'] = list(zip(feat_rest_d['pos_x_d'], feat_rest_d['pos_y_d']))
feat_rest_d = feat_rest_d.loc[:, feat_rest_d.columns.intersection(['distractor',
                                                                   'pos_d',
                                                                   'trial_d',
                                                                  'p_n_d'])]
feat_rest_d = feat_rest_d.reset_index(drop=True)

In [22]:
dfs_d_f = dict(tuple(feat_rest_d.groupby('distractor')))
feat_d1 = dfs_d_f['distractor1']
feat_d2 = dfs_d_f['distractor2']
d1 = dict(tuple(feat_d1.groupby('trial_d')))
d2 = dict(tuple(feat_d2.groupby('trial_d')))

In [23]:
# closest blue dot
closest_same_d = []
for n in range(0, len(participant)):
    part = participant[n]
    for i in range(0, len(trials)):
        n_tr = trials[i]
        d1_arr = np.array(d1.get(trials[i])['pos_d'].values.tolist())
        for j in range(0, len(feat_r)):
            if part == feat_r[j][0]:
                if n_tr == feat_r[j][1]:
                    closest_d1 = closest_node(feat_r[j][3], d1_arr)                          
                    closest_same_d.append(closest_d1.tolist())         
                else:
                    i += 1
            else:
                n += 1

In [24]:
resp_feat['closest_blue_dot'] = closest_same_d

In [25]:
# closest yellow dot
closest_d2 = []
for n in range(0, len(participant)):
    part = participant[n]
    for i in range(0, len(trials)):
        n_tr = trials[i]
        d1_arr = np.array(d2.get(trials[i])['pos_d'].values.tolist())
        for j in range(0, len(feat_r)):
            if part == feat_r[j][0]:
                if n_tr == feat_r[j][1]:
                    c_d1 = closest_node(feat_r[j][3], d1_arr)                          
                    closest_d2.append(c_d1.tolist())         
                else:
                    i += 1
            else:
                n += 1

In [26]:
resp_feat['closest_yellow_dot'] = closest_d2

In [27]:
resp_feat_c

,p_n,trial_r,type,pos_x_r,pos_y_r,pos_r,x1,x2,y1,y2
0,24,0,target2,140.73,505.90,"(140.73, 505.9)",240.73,40.73,605.90,405.90
1,24,0,target2,223.86,426.89,"(223.86, 426.89)",323.86,123.86,526.89,326.89
2,24,0,target1,142.42,196.19,"(142.42, 196.19)",242.42,42.42,296.19,96.19
3,24,0,target2,293.52,211.91,"(293.52, 211.91)",393.52,193.52,311.91,111.91
4,24,0,target1,408.57,121.20,"(408.57, 121.2)",508.57,308.57,221.20,21.20
...,...,...,...,...,...,...,...,...,...,...
195,24,9,target2,870.54,247.96,"(870.54, 247.96)",970.54,770.54,347.96,147.96
196,24,9,target2,887.70,563.17,"(887.7, 563.17)",987.70,787.70,663.17,463.17
197,24,9,target1,876.91,637.65,"(876.91, 637.65)",976.91,776.91,737.65,537.65
198,24,9,target2,748.82,417.71,"(748.82, 417.71)",848.82,648.82,517.71,317.71
199,24,9,target2,637.14,262.60,"(637.14, 262.6)",737.14,537.14,362.60,162.60

# Crowding_feat

In [28]:
def close_or_not(x1, x2, y1, y2, lst1, lst2):
    count = 0
    for i in range(0, len(lst1)):
        if x2 < lst1[i] < x1 and y2 < lst2[i] < y1:
            count += 1
    return count

In [29]:
feat_r = resp_feat_c.values.tolist()

In [30]:
feat_r

[[24,
  0,
  'target2',
  140.73,
  505.9,
  (140.73, 505.9),
  240.73,
  40.72999999999999,
  605.9,
  405.9],
 [24,
  0,
  'target2',
  223.86,
  426.89,
  (223.86, 426.89),
  323.86,
  123.86000000000001,
  526.89,
  326.89],
 [24,
  0,
  'target1',
  142.42,
  196.19,
  (142.42, 196.19),
  242.42,
  42.41999999999999,
  296.19,
  96.19],
 [24,
  0,
  'target2',
  293.52,
  211.91,
  (293.52, 211.91),
  393.52,
  193.51999999999998,
  311.90999999999997,
  111.91],
 [24,
  0,
  'target1',
  408.57,
  121.2,
  (408.57, 121.2),
  508.57,
  308.57,
  221.2,
  21.200000000000003],
 [24,
  0,
  'target2',
  452.4,
  361.28,
  (452.4, 361.28),
  552.4,
  352.4,
  461.28,
  261.28],
 [24,
  0,
  'target2',
  404.98,
  422.65,
  (404.98, 422.65),
  504.98,
  304.98,
  522.65,
  322.65],
 [24,
  0,
  'target2',
  383.8,
  499.31,
  (383.8, 499.31),
  483.8,
  283.8,
  599.31,
  399.31],
 [24,
  0,
  'target1',
  397.15,
  567.01,
  (397.15, 567.01),
  497.15,
  297.15,
  667.01,
  467.01],
 [24,
  0,
  'target2',
  445.53,
  587.4,
  (445.53, 587.4),
  545.53,
  345.53,
  687.4,
  487.4],
 [24,
  0,
  'target1',
  465.75,
  663.96,
  (465.75, 663.96),
  565.75,
  365.75,
  763.96,
  563.96],
 [24,
  0,
  'target2',
  640.3,
  419.58,
  (640.3, 419.58),
  740.3,
  540.3,
  519.5799999999999,
  319.58],
 [24, 0, 'target1', 639.4, 329.0, (639.4, 329.0), 739.4, 539.4, 429.0, 229.0],
 [24,
  0,
  'target1',
  578.93,
  337.43,
  (578.93, 337.43),
  678.93,
  478.92999999999995,
  437.43,
  237.43],
 [24,
  0,
  'target1',
  618.74,
  503.49,
  (618.74, 503.49),
  718.74,
  518.74,
  603.49,
  403.49],
 [24,
  0,
  'target1',
  787.84,
  274.9,
  (787.84, 274.9),
  887.84,
  687.84,
  374.9,
  174.89999999999998],
 [24,
  0,
  'target1',
  801.34,
  198.5,
  (801.34, 198.5),
  901.34,
  701.34,
  298.5,
  98.5],
 [24,
  0,
  'target1',
  912.48,
  268.88,
  (912.48, 268.88),
  1012.48,
  812.48,
  368.88,
  168.88],
 [24,
  0,
  'target2',
  870.39,
  198.97,
  (870.39, 198.97),
  970.39,
  770.39,
  298.97,
  98.97],
 [24,
  0,
  'target2',
  871.65,
  588.21,
  (871.65, 588.21),
  971.65,
  771.65,
  688.21,
  488.21000000000004],
 [24,
  1,
  'target1',
  135.96,
  668.07,
  (135.96, 668.07),
  235.96,
  35.96000000000001,
  768.07,
  568.07],
 [24,
  1,
  'target1',
  190.2,
  429.03,
  (190.2, 429.03),
  290.2,
  90.19999999999999,
  529.03,
  329.03],
 [24,
  1,
  'target2',
  224.33,
  212.3,
  (224.33, 212.3),
  324.33000000000004,
  124.33000000000001,
  312.3,
  112.30000000000001],
 [24,
  1,
  'target2',
  121.42,
  290.53,
  (121.42, 290.53),
  221.42000000000002,
  21.42,
  390.53,
  190.52999999999997],
 [24,
  1,
  'target2',
  231.17,
  354.69,
  (231.17, 354.69),
  331.16999999999996,
  131.17,
  454.69,
  254.69],
 [24,
  1,
  'target1',
  226.91,
  280.24,
  (226.91, 280.24),
  326.90999999999997,
  126.91,
  380.24,
  180.24],
 [24,
  1,
  'target1',
  149.1,
  131.0,
  (149.1, 131.0),
  249.1,
  49.099999999999994,
  231.0,
  31.0],
 [24,
  1,
  'target2',
  308.96,
  326.8,
  (308.96, 326.8),
  408.96,
  208.95999999999998,
  426.8,
  226.8],
 [24,
  1,
  'target2',
  308.58,
  399.89,
  (308.58, 399.89),
  408.58,
  208.57999999999998,
  499.89,
  299.89],
 [24,
  1,
  'target2',
  310.6,
  177.33,
  (310.6, 177.33),
  410.6,
  210.60000000000002,
  277.33000000000004,
  77.33000000000001],
 [24,
  1,
  'target1',
  393.12,
  270.52,
  (393.12, 270.52),
  493.12,
  293.12,
  370.52,
  170.51999999999998],
 [24,
  1,
  'target2',
  479.72,
  337.47,
  (479.72, 337.47),
  579.72,
  379.72,
  437.47,
  237.47000000000003],
 [24,
  1,
  'target2',
  459.34,
  591.56,
  (459.34, 591.56),
  559.3399999999999,
  359.34,
  691.56,
  491.55999999999995],
 [24,
  1,
  'target1',
  616.16,
  483.38,
  (616.16, 483.38),
  716.16,
  516.16,
  583.38,
  383.38],
 [24,
  1,
  'target1',
  562.29,
  668.9,
  (562.29, 668.9),
  662.29,
  462.28999999999996,
  768.9,
  568.9],
 [24,
  1,
  'target2',
  574.85,
  255.47,
  (574.85, 255.47),
  674.85,
  474.85,
  355.47,
  155.47],
 [24,
  1,
  'target1',
  662.62,
  344.83,
  (662.62, 344.83),
  762.62,
  562.62,
  444.83,
  244.82999999999998],
 [24,
  1,
  'target2',
  662.8,
  193.16,
  (662.8, 193.16),
  762.8,
  562.8,
  293.15999999999997,
  93.16],
 [24,
  1,
  'target1',
  804.1,
  434.46,
  (804.1, 434.46),
  904.1,
  704.1,
  534.46,
  334.46],
 [24,
  1,
  'target1',
  906.56,
  594.66,
  (906.56, 594.66),
  1006.56,
  806.56,
  694.66,
  494.65999999999997],
 [24,
  2,
  'target1',
  135.54,
  668.93,
  (135.54, 668.93),
  235.54,
  35.53999999999999,
  768.93,
  568.93],
 [24,
  2,
  'target2',
  120.03,
  201.06,
  (120.03, 201.06),
  220.03,
  20.03,
  301.06,
  101.06],
 [24,
  2,
  'target1',
  201.74,
  257.01,
  (201.74, 257.01),
  301.74,
  101.74000000000001,
  357.01,
  157.01],
 [24,
  2,
  'target1',
  322.65,
  273.66,
  (322.65, 273.66),
  422.65,
  222.64999999999998,
  373.66,
  173.66000000000003],
 [24,
  2,
  'target1',
  317.75,
  494.76,
  (317.75, 494.76),
  417.75,
  217.75,
  594.76,
  394.76],
 [24,
  2,
  'target2',
  229.58,
  186.38,
  (229.58, 186.38),
  329.58000000000004,
  129.58,
  286.38,
  86.38],
 [24,
  2,
  'target2',
  275.34,
  109.0,
  (275.34, 109.0),
  375.34,
  175.33999999999997,
  209.0,
  9.0],
 [24,
  2,
  'target2',
  405.86,
  403.84,
  (405.86, 403.84),
  505.86,
  305.86,
  503.84,
  303.84],
 [24,
  2,
  'target2',
  470.54,
  476.76,
  (470.54, 476.76),
  570.54,
  370.54,
  576.76,
  376.76],
 [24,
  2,
  'target2',
  533.17,
  413.07,
  (533.17, 413.07),
  633.17,
  433.16999999999996,
  513.0699999999999,
  313.07],
 [24,
  2,
  'target2',
  567.1,
  268.72,
  (567.1, 268.72),
  667.1,
  467.1,
  368.72,
  168.72000000000003],
 [24,
  2,
  'target1',
  566.77,
  124.8,
  (566.77, 124.8),
  666.77,
  466.77,
  224.8,
  24.799999999999997],
 [24,
  2,
  'target2',
  483.8,
  111.78,
  (483.8, 111.78),
  583.8,
  383.8,
  211.78,
  11.780000000000001],
 [24,
  2,
  'target1',
  701.57,
  125.22,
  (701.57, 125.22),
  801.57,
  601.57,
  225.22,
  25.22],
 [24,
  2,
  'target1',
  806.39,
  286.17,
  (806.39, 286.17),
  906.39,
  706.39,
  386.17,
  186.17000000000002],
 [24,
  2,
  'target2',
  815.34,
  128.65,
  (815.34, 128.65),
  915.34,
  715.34,
  228.65,
  28.650000000000006],
 [24,
  2,
  'target1',
  912.77,
  413.68,
  (912.77, 413.68),
  1012.77,
  812.77,
  513.6800000000001,
  313.68],
 [24,
  2,
  'target1',
  832.97,
  571.95,
  (832.97, 571.95),
  932.97,
  732.97,
  671.95,
  471.95000000000005],
 [24,
  2,
  'target1',
  910.9,
  590.53,
  (910.9, 590.53),
  1010.9,
  810.9,
  690.53,
  490.53],
 [24,
  2,
  'target2',
  541.13,
  637.93,
  (541.13, 637.93),
  641.13,
  441.13,
  737.93,
  537.93],
 [24,
  3,
  'target2',
  200.74,
  675.43,
  (200.74, 675.43),
  300.74,
  100.74000000000001,
  775.43,
  575.43],
 [24,
  3,
  'target2',
  277.85,
  570.98,
  (277.85, 570.98),
  377.85,
  177.85000000000002,
  670.98,
  470.98],
 [24,
  3,
  'target2',
  224.59,
  517.28,
  (224.59, 517.28),
  324.59000000000003,
  124.59,
  617.28,
  417.28],
 [24,
  3,
  'target2',
  127.7,
  476.04,
  (127.7, 476.04),
  227.7,
  27.700000000000003,
  576.04,
  376.04],
 [24,
  3,
  'target1',
  295.77,
  478.46,
  (295.77, 478.46),
  395.77,
  195.76999999999998,
  578.46,
  378.46],
 [24,
  3,
  'target1',
  110.86,
  336.35,
  (110.86, 336.35),
  210.86,
  10.86,
  436.35,
  236.35000000000002],
 [24,
  3,
  'target1',
  367.8,
  357.74,
  (367.8, 357.74),
  467.8,
  267.8,
  457.74,
  257.74],
 [24,
  3,
  'target1',
  296.37,
  251.78,
  (296.37, 251.78),
  396.37,
  196.37,
  351.78,
  151.78],
 [24,
  3,
  'target2',
  190.73,
  172.55,
  (190.73, 172.55),
  290.73,
  90.72999999999999,
  272.55,
  72.55000000000001],
 [24,
  3,
  'target1',
  148.66,
  110.53,
  (148.66, 110.53),
  248.66,
  48.66,
  210.53,
  10.530000000000001],
 [24,
  3,
  'target2',
  227.93,
  108.44,
  (227.93, 108.44),
  327.93,
  127.93,
  208.44,
  8.439999999999998],
 [24,
  3,
  'target2',
  455.93,
  212.37,
  (455.93, 212.37),
  555.9300000000001,
  355.93,
  312.37,
  112.37],
 [24,
  3,
  'target1',
  459.36,
  505.97,
  (459.36, 505.97),
  559.36,
  359.36,
  605.97,
  405.97],
 [24,
  3,
  'target2',
  469.86,
  661.86,
  (469.86, 661.86),
  569.86,
  369.86,
  761.86,
  561.86],
 [24,
  3,
  'target2',
  367.32,
  669.84,
  (367.32, 669.84),
  467.32,
  267.32,
  769.84,
  569.84],
 [24,
  3,
  'target1',
  621.49,
  324.22,
  (621.49, 324.22),
  721.49,
  521.49,
  424.22,
  224.22000000000003],
 [24,
  3,
  'target2',
  750.36,
  498.83,
  (750.36, 498.83),
  850.36,
  650.36,
  598.8299999999999,
  398.83],
 [24,
  3,
  'target1',
  812.02,
  589.84,
  (812.02, 589.84),
  912.02,
  712.02,
  689.84,
  489.84000000000003],
 [24,
  3,
  'target1',
  795.53,
  200.9,
  (795.53, 200.9),
  895.53,
  695.53,
  300.9,
  100.9],
 [24,
  3,
  'target1',
  745.87,
  109.93,
  (745.87, 109.93),
  845.87,
  645.87,
  209.93,
  9.930000000000007],
 [24,
  4,
  'target1',
  104.87,
  208.37,
  (104.87, 208.37),
  204.87,
  4.8700000000000045,
  308.37,
  108.37],
 [24,
  4,
  'target2',
  239.25,
  182.07,
  (239.25, 182.07),
  339.25,
  139.25,
  282.07,
  82.07],
 [24,
  4,
  'target1',
  370.72,
  406.69,
  (370.72, 406.69),
  470.72,
  270.72,
  506.69,
  306.69],
 [24,
  4,
  'target1',
  460.9,
  245.96,
  (460.9, 245.96),
  560.9,
  360.9,
  345.96000000000004,
  145.96],
 [24,
  4,
  'target1',
  487.11,
  325.82,
  (487.11, 325.82),
  587.11,
  387.11,
  425.82,
  225.82],
 [24,
  4,
  'target2',
  476.47,
  202.59,
  (476.47, 202.59),
  576.47,
  376.47,
  302.59000000000003,
  102.59],
 [24,
  4,
  'target1',
  531.05,
  185.88,
  (531.05, 185.88),
  631.05,
  431.04999999999995,
  285.88,
  85.88],
 [24,
  4,
  'target1',
  624.8,
  426.16,
  (624.8, 426.16),
  724.8,
  524.8,
  526.1600000000001,
  326.16],
 [24,
  4,
  'target2',
  703.02,
  507.11,
  (703.02, 507.11),
  803.02,
  603.02,
  607.11,
  407.11],
 [24,
  4,
  'target2',
  750.59,
  564.97,
  (750.59, 564.97),
  850.59,
  650.59,
  664.97,
  464.97],
 [24,
  4,
  'target2',
  805.96,
  594.2,
  (805.96, 594.2),
  905.96,
  705.96,
  694.2,
  494.20000000000005],
 [24,
  4,
  'target1',
  705.58,
  659.89,
  (705.58, 659.89),
  805.58,
  605.58,
  759.89,
  559.89],
 [24,
  4,
  'target2',
  830.76,
  420.39,
  (830.76, 420.39),
  930.76,
  730.76,
  520.39,
  320.39],
 [24,
  4,
  'target1',
  812.74,
  364.94,
  (812.74, 364.94),
  912.74,
  712.74,
  464.94,
  264.94],
 [24,
  4,
  'target1',
  903.53,
  552.66,
  (903.53, 552.66),
  1003.53,
  803.53,
  652.66,
  452.65999999999997],
 [24,
  4,
  'target2',
  655.07,
  290.12,
  (655.07, 290.12),
  755.07,
  555.07,
  390.12,
  190.12],
 [24,
  4,
  'target2',
  901.31,
  280.49,
  (901.31, 280.49),
  1001.31,
  801.31,
  380.49,
  180.49],
 [24,
  4,
  'target1',
  723.46,
  336.03,
  (723.46, 336.03),
  823.46,
  623.46,
  436.03,
  236.02999999999997],
 [24,
  4,
  'target2',
  726.13,
  183.75,
  (726.13, 183.75),
  826.13,
  626.13,
  283.75,
  83.75],
 [24,
  4,
  'target2',
  406.35,
  590.4,
  (406.35, 590.4),
  506.35,
  306.35,
  690.4,
  490.4],
 [24,
  5,
  'target2',
  127.14,
  476.49,
  (127.14, 476.49),
  227.14,
  27.14,
  576.49,
  376.49],
 [24,
  5,
  'target2',
  206.56,
  560.44,
  (206.56, 560.44),
  306.56,
  106.56,
  660.44,
  460.44000000000005],
 [24,
  5,
  'target1',
  402.64,
  498.1,
  (402.64, 498.1),
  502.64,
  302.64,
  598.1,
  398.1],
 [24,
  5,
  'target1',
  495.01,
  500.72,
  (495.01, 500.72),
  595.01,
  395.01,
  600.72,
  400.72],
 [24,
  5,
  'target2',
  558.64,
  509.55,
  (558.64, 509.55),
  658.64,
  458.64,
  609.55,
  409.55],
 [24,
  5,
  'target2',
  323.35,
  261.05,
  (323.35, 261.05),
  423.35,
  223.35000000000002,
  361.05,
  161.05],
 [24,
  5,
  'target2',
  385.95,
  261.66,
  (385.95, 261.66),
  485.95,
  285.95,
  361.66,
  161.66000000000003],
 [24,
  5,
  'target1',
  454.24,
  324.47,
  (454.24, 324.47),
  554.24,
  354.24,
  424.47,
  224.47000000000003],
 [24,
  5,
  'target2',
  528.73,
  286.54,
  (528.73, 286.54),
  628.73,
  428.73,
  386.54,
  186.54000000000002],
 [24,
  5,
  'target2',
  463.11,
  183.86,
  (463.11, 183.86),
  563.11,
  363.11,
  283.86,
  83.86000000000001],
 [24,
  5,
  'target2',
  538.97,
  169.88,
  (538.97, 169.88),
  638.97,
  438.97,
  269.88,
  69.88],
 [24,
  5,
  'target1',
  360.13,
  111.6,
  (360.13, 111.6),
  460.13,
  260.13,
  211.6,
  11.599999999999994],
 [24,
  5,
  'target1',
  637.97,
  261.19,
  (637.97, 261.19),
  737.97,
  537.97,
  361.19,
  161.19],
 [24,
  5,
  'target1',
  632.86,
  355.14,
  (632.86, 355.14),
  732.86,
  532.86,
  455.14,
  255.14],
 [24,
  5,
  'target2',
  806.9,
  360.78,
  (806.9, 360.78),
  906.9,
  706.9,
  460.78,
  260.78],
 [24,
  5,
  'target1',
  830.69,
  414.1,
  (830.69, 414.1),
  930.69,
  730.69,
  514.1,
  314.1],
 [24,
  5,
  'target1',
  740.27,
  594.89,
  (740.27, 594.89),
  840.27,
  640.27,
  694.89,
  494.89],
 [24,
  5,
  'target1',
  620.44,
  648.78,
  (620.44, 648.78),
  720.44,
  520.44,
  748.78,
  548.78],
 [24,
  5,
  'target1',
  871.06,
  666.6,
  (871.06, 666.6),
  971.06,
  771.06,
  766.6,
  566.6],
 [24,
  5,
  'target2',
  792.58,
  171.12,
  (792.58, 171.12),
  892.58,
  692.58,
  271.12,
  71.12],
 [24,
  6,
  'target2',
  114.87,
  115.51,
  (114.87, 115.51),
  214.87,
  14.870000000000005,
  215.51,
  15.510000000000005],
 [24,
  6,
  'target2',
  111.08,
  190.68,
  (111.08, 190.68),
  211.07999999999998,
  11.079999999999998,
  290.68,
  90.68],
 [24,
  6,
  'target1',
  281.12,
  118.14,
  (281.12, 118.14),
  381.12,
  181.12,
  218.14,
  18.14],
 [24,
  6,
  'target1',
  311.87,
  271.07,
  (311.87, 271.07),
  411.87,
  211.87,
  371.07,
  171.07],
 [24,
  6,
  'target2',
  321.28,
  335.22,
  (321.28, 335.22),
  421.28,
  221.27999999999997,
  435.22,
  235.22000000000003],
 [24,
  6,
  'target2',
  374.34,
  425.32,
  (374.34, 425.32),
  474.34,
  274.34,
  525.3199999999999,
  325.32],
 [24,
  6,
  'target2',
  219.61,
  478.85,
  (219.61, 478.85),
  319.61,
  119.61000000000001,
  578.85,
  378.85],
 [24,
  6,
  'target2',
  210.22,
  646.9,
  (210.22, 646.9),
  310.22,
  110.22,
  746.9,
  546.9],
 [24,
  6,
  'target1',
  153.29,
  664.85,
  (153.29, 664.85),
  253.29,
  53.28999999999999,
  764.85,
  564.85],
 [24,
  6,
  'target2',
  543.13,
  668.74,
  (543.13, 668.74),
  643.13,
  443.13,
  768.74,
  568.74],
 [24,
  6,
  'target2',
  641.97,
  495.08,
  (641.97, 495.08),
  741.97,
  541.97,
  595.0799999999999,
  395.08],
 [24,
  6,
  'target1',
  475.34,
  204.87,
  (475.34, 204.87),
  575.3399999999999,
  375.34,
  304.87,
  104.87],
 [24,
  6,
  'target1',
  659.78,
  173.07,
  (659.78, 173.07),
  759.78,
  559.78,
  273.07,
  73.07],
 [24,
  6,
  'target1',
  722.01,
  194.11,
  (722.01, 194.11),
  822.01,
  622.01,
  294.11,
  94.11000000000001],
 [24,
  6,
  'target2',
  555.17,
  116.68,
  (555.17, 116.68),
  655.17,
  455.16999999999996,
  216.68,
  16.680000000000007],
 [24,
  6,
  'target1',
  473.87,
  92.14,
  (473.87, 92.14),
  573.87,
  373.87,
  192.14,
  -7.859999999999999],
 [24,
  6,
  'target1',
  723.54,
  128.13,
  (723.54, 128.13),
  823.54,
  623.54,
  228.13,
  28.129999999999995],
 [24,
  6,
  'target1',
  814.16,
  203.38,
  (814.16, 203.38),
  914.16,
  714.16,
  303.38,
  103.38],
 [24,
  6,
  'target2',
  917.98,
  209.44,
  (917.98, 209.44),
  1017.98,
  817.98,
  309.44,
  109.44],
 [24,
  6,
  'target1',
  916.2,
  479.08,
  (916.2, 479.08),
  1016.2,
  816.2,
  579.0799999999999,
  379.08],
 [24,
  7,
  'target2',
  145.86,
  416.02,
  (145.86, 416.02),
  245.86,
  45.860000000000014,
  516.02,
  316.02],
 [24,
  7,
  'target2',
  225.5,
  331.73,
  (225.5, 331.73),
  325.5,
  125.5,
  431.73,
  231.73000000000002],
 [24,
  7,
  'target2',
  298.15,
  587.24,
  (298.15, 587.24),
  398.15,
  198.14999999999998,
  687.24,
  487.24],
 [24,
  7,
  'target1',
  320.78,
  645.35,
  (320.78, 645.35),
  420.78,
  220.77999999999997,
  745.35,
  545.35],
 [24,
  7,
  'target1',
  130.5,
  560.2,
  (130.5, 560.2),
  230.5,
  30.5,
  660.2,
  460.20000000000005],
 [24,
  7,
  'target1',
  146.96,
  634.42,
  (146.96, 634.42),
  246.96,
  46.96000000000001,
  734.42,
  534.42],
 [24,
  7,
  'target1',
  364.95,
  98.63,
  (364.95, 98.63),
  464.95,
  264.95,
  198.63,
  -1.3700000000000045],
 [24,
  7,
  'target1',
  575.63,
  123.69,
  (575.63, 123.69),
  675.63,
  475.63,
  223.69,
  23.689999999999998],
 [24,
  7,
  'target1',
  635.23,
  174.32,
  (635.23, 174.32),
  735.23,
  535.23,
  274.32,
  74.32],
 [24,
  7,
  'target2',
  657.59,
  127.17,
  (657.59, 127.17),
  757.59,
  557.59,
  227.17000000000002,
  27.17],
 [24,
  7,
  'target2',
  551.69,
  441.12,
  (551.69, 441.12),
  651.69,
  451.69000000000005,
  541.12,
  341.12],
 [24,
  7,
  'target1',
  573.31,
  521.08,
  (573.31, 521.08),
  673.31,
  473.30999999999995,
  621.08,
  421.08000000000004],
 [24,
  7,
  'target2',
  567.08,
  642.91,
  (567.08, 642.91),
  667.08,
  467.08000000000004,
  742.91,
  542.91],
 [24,
  7,
  'target2',
  656.17,
  499.88,
  (656.17, 499.88),
  756.17,
  556.17,
  599.88,
  399.88],
 [24,
  7,
  'target2',
  726.73,
  660.26,
  (726.73, 660.26),
  826.73,
  626.73,
  760.26,
  560.26],
 [24,
  7,
  'target2',
  805.65,
  412.95,
  (805.65, 412.95),
  905.65,
  705.65,
  512.95,
  312.95],
 [24,
  7,
  'target1',
  733.29,
  429.29,
  (733.29, 429.29),
  833.29,
  633.29,
  529.29,
  329.29],
 [24,
  7,
  'target2',
  910.75,
  485.39,
  (910.75, 485.39),
  1010.75,
  810.75,
  585.39,
  385.39],
 [24,
  7,
  'target1',
  889.01,
  97.05,
  (889.01, 97.05),
  989.01,
  789.01,
  197.05,
  -2.950000000000003],
 [24,
  7,
  'target1',
  799.66,
  204.07,
  (799.66, 204.07),
  899.66,
  699.66,
  304.07,
  104.07],
 [24,
  8,
  'target1',
  128.81,
  188.24,
  (128.81, 188.24),
  228.81,
  28.810000000000002,
  288.24,
  88.24000000000001],
 [24,
  8,
  'target2',
  193.02,
  476.98,
  (193.02, 476.98),
  293.02,
  93.02000000000001,
  576.98,
  376.98],
 [24,
  8,
  'target1',
  322.33,
  511.07,
  (322.33, 511.07),
  422.33,
  222.32999999999998,
  611.0699999999999,
  411.07],
 [24,
  8,
  'target1',
  384.96,
  559.77,
  (384.96, 559.77),
  484.96,
  284.96,
  659.77,
  459.77],
 [24,
  8,
  'target1',
  374.41,
  631.85,
  (374.41, 631.85),
  474.41,
  274.41,
  731.85,
  531.85],
 [24,
  8,
  'target2',
  484.45,
  570.85,
  (484.45, 570.85),
  584.45,
  384.45,
  670.85,
  470.85],
 [24,
  8,
  'target2',
  544.31,
  669.73,
  (544.31, 669.73),
  644.31,
  444.30999999999995,
  769.73,
  569.73],
 [24,
  8,
  'target1',
  476.7,
  499.83,
  (476.7, 499.83),
  576.7,
  376.7,
  599.8299999999999,
  399.83],
 [24,
  8,
  'target2',
  362.85,
  420.63,
  (362.85, 420.63),
  462.85,
  262.85,
  520.63,
  320.63],
 [24,
  8,
  'target2',
  383.86,
  259.09,
  (383.86, 259.09),
  483.86,
  283.86,
  359.09,
  159.08999999999997],
 [24,
  8,
  'target2',
  405.62,
  191.96,
  (405.62, 191.96),
  505.62,
  305.62,
  291.96000000000004,
  91.96000000000001],
 [24,
  8,
  'target2',
  491.79,
  129.12,
  (491.79, 129.12),
  591.79,
  391.79,
  229.12,
  29.120000000000005],
 [24,
  8,
  'target2',
  541.19,
  125.98,
  (541.19, 125.98),
  641.19,
  441.19000000000005,
  225.98000000000002,
  25.980000000000004],
 [24,
  8,
  'target1',
  801.7,
  475.99,
  (801.7, 475.99),
  901.7,
  701.7,
  575.99,
  375.99],
 [24,
  8,
  'target2',
  894.63,
  574.07,
  (894.63, 574.07),
  994.63,
  794.63,
  674.07,
  474.07000000000005],
 [24,
  8,
  'target2',
  889.53,
  410.11,
  (889.53, 410.11),
  989.53,
  789.53,
  510.11,
  310.11],
 [24,
  8,
  'target1',
  828.39,
  332.26,
  (828.39, 332.26),
  928.39,
  728.39,
  432.26,
  232.26],
 [24,
  8,
  'target1',
  903.54,
  363.47,
  (903.54, 363.47),
  1003.54,
  803.54,
  463.47,
  263.47],
 [24,
  8,
  'target1',
  785.07,
  188.14,

In [31]:
feat_t1[['pos_x', 'pos_y']] = pd.DataFrame(feat_t1['pos_t'].tolist(), index=feat_t1.index) 
feat_t2[['pos_x', 'pos_y']] = pd.DataFrame(feat_t1['pos_t'].tolist(), index=feat_t1.index)

In [32]:
t1 = dict(tuple(feat_t1.groupby('trial_t')))
t2 = dict(tuple(feat_t2.groupby('trial_t')))

In [33]:
crowding = []
for n in range(0, len(participant)):
    part = participant[n]
    for i in range(0, len(trials)):
        n_tr = trials[i]
        t1_arr_x = t1.get(trials[i])['pos_x'].values.tolist()
        t1_arr_y = t1.get(trials[i])['pos_y'].values.tolist()
        t2_arr_x = t2.get(trials[i])['pos_x'].values.tolist()
        t2_arr_y = t2.get(trials[i])['pos_y'].values.tolist()
        
        for j in range(0, len(feat_r)):
            if part == feat_r[j][0]:
                if n_tr == feat_r[j][1]:
                    if feat_r[j][2] == 'target1':
                        closest_t1 = close_or_not(feat_r[j][6],
                                                  feat_r[j][7],
                                                  feat_r[j][8],
                                                  feat_r[j][9],
                                                  t1_arr_x, t1_arr_y)                          
                        crowding.append(closest_t1)         
                    else:
                        closest_t2 = close_or_not(feat_r[j][6],
                                                  feat_r[j][7],
                                                  feat_r[j][8],
                                                  feat_r[j][9],
                                                  t2_arr_x, t2_arr_y)                          
                        crowding.append(closest_t2)
                else:
                    i += 1
            else:
                n += 1

In [34]:
resp_feat['crowd'] = crowding

# Conjunction task

In [35]:
resp_conj = responses[responses["FeatConj"] == 1]
bad_conj = resp_conj.loc[(resp_conj['stType'] == ' distractor2 ') | (resp_conj['stType'] == ' distractor1 '), 
                         'trialN'].tolist()
resp_conj = resp_conj[~resp_conj['trialN']
          .isin(bad_conj)]
resp_conj = resp_conj.reset_index(drop=True)

In [36]:
resp_conj1 = resp_conj.rename(columns={'stType': 'type', 
                                          'stPosX': 'pos_x_r', 
                                          'stPosY': 'pos_y_r',
                                         'trialN': 'trial_r',
                                      'participantN': 'p_n'})
resp_conj1['pos_x_r'] = np.around(resp_conj1['pos_x_r'], decimals=2)
resp_conj1['pos_y_r'] = np.around(resp_conj1['pos_y_r'], decimals=2)
resp_conj['resp_pos'] = resp_conj1.apply(lambda x: list([x['pos_x_r'], x['pos_y_r']]) , axis=1)
resp_conj1['pos_r'] = list(zip(resp_conj1['pos_x_r'], resp_conj1['pos_y_r']))

resp_conj_c = resp_conj1.loc[:, resp_conj1.columns.intersection(['type', 
                                                             'pos_r',
                                                             'trial_r',
                                                               'p_n',
                                                               'pos_x_r',
                                                               'pos_y_r'])]

resp_conj1 = resp_conj1.loc[:, resp_conj1.columns.intersection(['type', 
                                                             'pos_r',
                                                             'trial_r',
                                                               'p_n'])]

resp_conj1 = resp_conj1.reset_index(drop=True)
resp_conj1.type = resp_conj1.type.str.strip()

In [37]:
resp_conj_c['x1'] = resp_conj_c['pos_x_r'].apply(lambda x: x + 100)
resp_conj_c['x2'] = resp_conj_c['pos_x_r'].apply(lambda x: x - 100)
resp_conj_c['y1'] = resp_conj_c['pos_y_r'].apply(lambda x: x + 100)
resp_conj_c['y2'] = resp_conj_c['pos_y_r'].apply(lambda x: x - 100)

In [38]:
conj_r = resp_conj1.values.tolist()
## [prtN, trialN, target_type, pos]

In [39]:
#only useful df of all stimuli for conjunction task
all_conj = all_stim[all_stim["FeatConj"] == 1]
conj_target = all_conj[(all_conj['stType'] == 'target1') |
                       (all_conj['stType'] == 'target2')]
conj_distr = all_conj[(all_conj['stType'] == 'distractor1') |
                      (all_conj['stType'] == 'distractor2')]

In [40]:
#useful targets for conjunction
conj_rest_t = conj_target[~conj_target['trialN']
          .isin(bad_conj)]
conj_rest_t = conj_rest_t.rename(columns={'stType': 'target', 
                                          'posX': 'pos_x_t', 
                                          'posY': 'pos_y_t',
                                         'trialN': 'trial_t',
                                         'participantN': 'p_n_t'})
conj_rest_t['pos_x_t'] = np.around(conj_rest_t['pos_x_t'], decimals=2)
conj_rest_t['pos_y_t'] = np.around(conj_rest_t['pos_y_t'], decimals=2)
conj_rest_t['pos_t'] = list(zip(conj_rest_t['pos_x_t'], conj_rest_t['pos_y_t']))
conj_rest_t = conj_rest_t.loc[:, conj_rest_t.columns.intersection(['target',
                                                                   'pos_t',
                                                                   'trial_t',
                                                                  'p_n_t'])]
conj_rest_t = conj_rest_t.reset_index(drop=True)

In [41]:
trials = conj_rest_t['trial_t'].unique()
trials = trials.astype(np.int32).tolist()

In [42]:
participant = conj_rest_t['p_n_t'].unique()
participant = participant.astype(np.int32).tolist()

In [43]:
dfs_tar_c = dict(tuple(conj_rest_t.groupby('target')))
conj_t1 = dfs_tar_c['target1']
conj_t2 = dfs_tar_c['target2']

In [44]:
t1 = dict(tuple(conj_t1.groupby('trial_t')))
t2 = dict(tuple(conj_t2.groupby('trial_t')))

In [45]:
closest_same = []
for n in range(0, len(participant)):
    part = participant[n]
    for i in range(0, len(trials)):
        n_tr = trials[i]
        t1_arr = np.array(t1.get(trials[i])['pos_t'].values.tolist())
        t2_arr = np.array(t2.get(trials[i])['pos_t'].values.tolist())
        for j in range(0, len(conj_r)):
            if part == conj_r[j][0]:
                if n_tr == conj_r[j][1]:
                    if conj_r[j][2] == 'target1':
                        closest_t1 = closest_node(conj_r[j][3], t1_arr)                          
                        closest_same.append(closest_t1.tolist())         
                    else:
                        closest_t2 = closest_node(conj_r[j][3], t2_arr)                         
                        closest_same.append(closest_t2.tolist())
                else:
                    i += 1
            else:
                n += 1

In [46]:
resp_conj['closest_same_target'] = closest_same

In [47]:
closest_other = []
for n in range(0, len(participant)):
    part = participant[n]
    for i in range(0, len(trials)):
        n_tr = trials[i]
        t1_arr = np.array(t1.get(trials[i])['pos_t'].values.tolist())
        t2_arr = np.array(t2.get(trials[i])['pos_t'].values.tolist())
        for j in range(0, len(conj_r)):
            if part == conj_r[j][0]:
                if n_tr == conj_r[j][1]:
                    if conj_r[j][2] == 'target2':
                        closest_t1 = closest_node(conj_r[j][3], t1_arr)                          
                        closest_other.append(closest_t1.tolist())         
                    else:
                        closest_t2 = closest_node(conj_r[j][3], t2_arr)                         
                        closest_other.append(closest_t2.tolist())
                else:
                    i += 1
            else:
                n += 1

In [48]:
resp_conj['closest_other_target'] = closest_other

In [49]:
#useful distractors for conjunction
conj_rest_d = conj_distr[~conj_distr['trialN']
          .isin(bad_conj)]
conj_rest_d = conj_rest_d.rename(columns={'stType': 'distractor', 
                                          'posX': 'pos_x_d', 
                                          'posY': 'pos_y_d',
                                         'trialN': 'trial_d',
                                         'participantN': 'p_n_d'})
conj_rest_d['pos_x_d'] = np.around(conj_rest_d['pos_x_d'], decimals=2)
conj_rest_d['pos_y_d'] = np.around(conj_rest_d['pos_y_d'], decimals=2)
conj_rest_d['pos_d'] = list(zip(conj_rest_d['pos_x_d'], conj_rest_d['pos_y_d']))
conj_rest_d = conj_rest_d.loc[:, conj_rest_d.columns.intersection(['distractor',
                                                                   'pos_d',
                                                                   'trial_d',
                                                                  'p_n_d'])]
conj_rest_d = conj_rest_d.reset_index(drop=True)

In [50]:
dfs_d_c = dict(tuple(conj_rest_d.groupby('distractor')))
conj_d1 = dfs_d_c['distractor1']
conj_d2 = dfs_d_c['distractor2']
d1 = dict(tuple(conj_d1.groupby('trial_d')))
d2 = dict(tuple(conj_d2.groupby('trial_d')))

In [51]:
same_color = []
for n in range(0, len(participant)):
    part = participant[n]
    for i in range(0, len(trials)):
        n_tr = trials[i]
        t1_arr = np.array(d1.get(trials[i])['pos_d'].values.tolist())
        t2_arr = np.array(d2.get(trials[i])['pos_d'].values.tolist())
        for j in range(0, len(conj_r)):
            if part == conj_r[j][0]:
                if n_tr == conj_r[j][1]:
                    if conj_r[j][2] == 'target1':
                        closest_d1 = closest_node(conj_r[j][3], t1_arr)                          
                        same_color.append(closest_d1.tolist())         
                    else:
                        closest_d2 = closest_node(conj_r[j][3], t2_arr)                         
                        same_color.append(closest_d2.tolist())
                else:
                    i += 1
            else:
                n += 1

In [52]:
resp_conj['closest_dist_same_color'] = same_color

In [53]:
same_shape = []
for n in range(0, len(participant)):
    part = participant[n]
    for i in range(0, len(trials)):
        n_tr = trials[i]
        t1_arr = np.array(d1.get(trials[i])['pos_d'].values.tolist())
        t2_arr = np.array(d2.get(trials[i])['pos_d'].values.tolist())
        for j in range(0, len(conj_r)):
            if part == conj_r[j][0]:
                if n_tr == conj_r[j][1]:
                    if conj_r[j][2] == 'target2':
                        closest_t1 = closest_node(conj_r[j][3], t1_arr)                          
                        same_shape.append(closest_t1.tolist())         
                    else:
                        closest_t2 = closest_node(conj_r[j][3], t2_arr)                         
                        same_shape.append(closest_t2.tolist())
                else:
                    i += 1
            else:
                n += 1

In [54]:
resp_conj['closest_dist_same_shape'] = same_shape

# Crowding_conj

In [55]:
conj_r = resp_conj_c.values.tolist()

In [56]:
conj_t1

     p_n_t  trial_t   target             pos_t
0       24        0  target1    (787.56, 92.8)
1       24        0  target1   (395.4, 184.82)
2       24        0  target1  (376.85, 105.67)
3       24        0  target1   (189.5, 193.08)
4       24        0  target1  (572.57, 598.81)
..     ...      ...      ...               ...
265     24       13  target1  (823.18, 251.21)
266     24       13  target1  (364.08, 597.68)
267     24       13  target1  (109.04, 669.07)
268     24       13  target1  (194.56, 508.63)
269     24       13  target1  (877.17, 349.85)

[140 rows x 4 columns]

In [57]:
conj_t1[['pos_x', 'pos_y']] = pd.DataFrame(conj_t1['pos_t'].tolist(), index=conj_t1.index) 
conj_t2[['pos_x', 'pos_y']] = pd.DataFrame(conj_t2['pos_t'].tolist(), index=conj_t1.index)

In [58]:
t1 = dict(tuple(conj_t1.groupby('trial_t')))
t2 = dict(tuple(conj_t2.groupby('trial_t')))

In [59]:
crowding = []
for n in range(0, len(participant)):
    part = participant[n]
    for i in range(0, len(trials)):
        n_tr = trials[i]
        t1_arr_x = t1.get(trials[i])['pos_x'].values.tolist()
        t1_arr_y = t1.get(trials[i])['pos_y'].values.tolist()
        t2_arr_x = t2.get(trials[i])['pos_x'].values.tolist()
        t2_arr_y = t2.get(trials[i])['pos_y'].values.tolist()
        
        for j in range(0, len(conj_r)):
            if part == conj_r[j][0]:
                if n_tr == conj_r[j][1]:
                    if conj_r[j][2] == 'target1':
                        closest_t1 = close_or_not(conj_r[j][6],
                                                  conj_r[j][7],
                                                  conj_r[j][8],
                                                  conj_r[j][9],
                                                  t1_arr_x, t1_arr_y)                          
                        crowding.append(closest_t1)         
                    else:
                        closest_t2 = close_or_not(conj_r[j][6],
                                                  conj_r[j][7],
                                                  conj_r[j][8],
                                                  conj_r[j][9],
                                                  t2_arr_x, t2_arr_y)                          
                        crowding.append(closest_t2)
                else:
                    i += 1
            else:
                n += 1

In [60]:
resp_conj['crowd'] = crowding

In [61]:
resp_feat.head()

,participantN,age,gender,trialN,task,condition,FeatConj,setSize,proportion,timelimit,...,touchN,error,switches,changeScreen,resp_pos,closest_same_target,closest_other_taget,closest_blue_dot,closest_yellow_dot,crowd
0,24,0,NaN,0,0,b/y,0,40,50,0.0,...,1,0,2,0,"[140.73, 505.9]","[223.86, 426.89]","[397.15, 567.01]","[132.37, 597.88]","[103.23, 400.17]",0
1,24,0,NaN,0,0,b/y,0,40,50,0.0,...,2,0,0,0,"[223.86, 426.89]","[140.73, 505.9]","[397.15, 567.01]","[292.56, 585.59]","[103.23, 400.17]",0
2,24,0,NaN,0,0,b/y,0,40,50,0.0,...,3,0,1,0,"[142.42, 196.19]","[408.57, 121.2]","[293.52, 211.91]","[237.77, 176.48]","[123.47, 273.73]",1
3,24,0,NaN,0,0,b/y,0,40,50,0.0,...,4,0,1,0,"[293.52, 211.91]","[223.86, 426.89]","[408.57, 121.2]","[237.77, 176.48]","[218.65, 252.12]",0
4,24,0,NaN,0,0,b/y,0,40,50,0.0,...,5,0,1,0,"[408.57, 121.2]","[142.42, 196.19]","[293.52, 211.91]","[546.38, 120.63]","[488.12, 115.99]",1

In [62]:
resp_feat.columns

Index(['participantN', 'age', 'gender', 'trialN', 'task', 'condition',
       'FeatConj', 'setSize', 'proportion', 'timelimit', 'stType', 'imgName',
       'timeTS', 'timeRel', 'runLength', 'runTest', 'touchTS', 'runN', 'runNH',
       'stPosX', 'stPosY', 'col', 'row', 'touchX', 'touchY', 'touchDist',
       'targDist', 'touchN', 'error', 'switches', 'changeScreen', 'resp_pos',
       'closest_same_target', 'closest_other_taget', 'closest_blue_dot',
       'closest_yellow_dot', 'crowd'],
      dtype='object')

In [63]:
resp_feat

,participantN,age,gender,trialN,task,condition,FeatConj,setSize,proportion,timelimit,...,touchN,error,switches,changeScreen,resp_pos,closest_same_target,closest_other_taget,closest_blue_dot,closest_yellow_dot,crowd
0,24,0,NaN,0,0,b/y,0,40,50,0.0,...,1,0,2,0,"[140.73, 505.9]","[223.86, 426.89]","[397.15, 567.01]","[132.37, 597.88]","[103.23, 400.17]",0
1,24,0,NaN,0,0,b/y,0,40,50,0.0,...,2,0,0,0,"[223.86, 426.89]","[140.73, 505.9]","[397.15, 567.01]","[292.56, 585.59]","[103.23, 400.17]",0
2,24,0,NaN,0,0,b/y,0,40,50,0.0,...,3,0,1,0,"[142.42, 196.19]","[408.57, 121.2]","[293.52, 211.91]","[237.77, 176.48]","[123.47, 273.73]",1
3,24,0,NaN,0,0,b/y,0,40,50,0.0,...,4,0,1,0,"[293.52, 211.91]","[223.86, 426.89]","[408.57, 121.2]","[237.77, 176.48]","[218.65, 252.12]",0
4,24,0,NaN,0,0,b/y,0,40,50,0.0,...,5,0,1,0,"[408.57, 121.2]","[142.42, 196.19]","[293.52, 211.91]","[546.38, 120.63]","[488.12, 115.99]",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,24,0,NaN,9,0,b/y,0,40,50,0.0,...,17,0,1,0,"[870.54, 247.96]","[748.82, 417.71]","[822.67, 291.07]","[799.55, 192.92]","[809.26, 345.62]",0
196,24,0,NaN,9,0,b/y,0,40,50,0.0,...,18,0,0,0,"[887.7, 563.17]","[748.82, 417.71]","[876.91, 637.65]","[803.22, 639.21]","[809.26, 345.62]",0
197,24,0,NaN,9,0,b/y,0,40,50,0.0,...,19,0,1,0,"[876.91, 637.65]","[822.67, 291.07]","[887.7, 563.17]","[803.22, 639.21]","[809.26, 345.62]",1
198,24,0,NaN,9,0,b/y,0,40,50,0.0,...,20,0,1,0,"[748.82, 417.71]","[637.14, 262.6]","[665.62, 437.26]","[653.14, 494.47]","[739.4, 325.14]",0
199,24,0,NaN,9,0,b/y,0,40,50,0.0,...,21,0,0,0,"[637.14, 262.6]","[748.82, 417.71]","[538.13, 345.25]","[799.55, 192.92]","[664.62, 177.37]",0

In [64]:
resp_conj.head()

,participantN,age,gender,trialN,task,condition,FeatConj,setSize,proportion,timelimit,...,touchN,error,switches,changeScreen,resp_pos,closest_same_target,closest_other_target,closest_dist_same_color,closest_dist_same_shape,crowd
0,24,0,NaN,0,0,rs/gd,1,40,50,0.0,...,1,0,2,0,"[293.08, 136.04]","[376.85, 105.67]","[380.41, 287.86]","[212.4, 97.68]","[121.07, 214.95]",2
1,24,0,NaN,0,0,rs/gd,1,40,50,0.0,...,2,0,1,0,"[484.6, 105.44]","[618.27, 264.44]","[376.85, 105.67]","[629.34, 104.7]","[712.51, 92.17]",0
2,24,0,NaN,0,0,rs/gd,1,40,50,0.0,...,3,0,1,0,"[376.85, 105.67]","[293.08, 136.04]","[484.6, 105.44]","[212.4, 97.68]","[629.34, 104.7]",3
3,24,0,NaN,0,0,rs/gd,1,40,50,0.0,...,4,0,0,0,"[395.4, 184.82]","[376.85, 105.67]","[380.41, 287.86]","[286.92, 267.69]","[373.65, 362.28]",2
4,24,0,NaN,0,0,rs/gd,1,40,50,0.0,...,5,0,0,0,"[189.5, 193.08]","[293.08, 136.04]","[122.24, 367.0]","[212.4, 97.68]","[121.07, 214.95]",1

In [65]:
#resp_feat.to_csv (r'C:\Users\User\Desktop\feature_task.csv', index = False,  mode='a', header=False)

In [66]:
#resp_conj.to_csv (r'C:\Users\User\Desktop\conjunction_task.csv', index = False, mode='a', header=False)