In [1]:
import pandas as pd
from scipy.spatial import distance
import numpy as np

In [2]:
feat = pd.read_csv(r'C:\Users\lttso\Desktop\feature_task.csv')

In [3]:
conj = pd.read_csv(r'C:\Users\lttso\Desktop\conjunction_task.csv')

In [4]:
feat

,participantN,age,gender,trialN,task,condition,FeatConj,setSize,proportion,timelimit,...,closest_same_target,closest_other_taget,closest_blue_dot,closest_yellow_dot,group_selected,group_same,group_switch,strict_line,blocked_grouped,ratio
0,2,0,NaN,0,0,b/y,0,80,50,0.0,...,"[728.32, 560.21]","[704.12, 673.25]","[542.49, 641.88]","[729.91, 500.11]",0,0,0,0,0,0.000000
1,2,0,NaN,0,0,b/y,0,80,50,0.0,...,"[614.81, 576.11]","[633.57, 669.46]","[799.28, 644.85]","[729.91, 500.11]",2,4,3,0,0,0.000000
2,2,0,NaN,0,0,b/y,0,80,50,0.0,...,"[614.81, 576.11]","[563.11, 518.31]","[542.49, 641.88]","[467.78, 512.95]",2,4,3,0,0,-0.022276
3,2,0,NaN,0,0,b/y,0,80,50,0.0,...,"[575.55, 590.94]","[563.11, 518.31]","[542.49, 641.88]","[729.91, 500.11]",4,2,3,0,0,-0.045757
4,2,0,NaN,0,0,b/y,0,80,50,0.0,...,"[633.57, 669.46]","[575.55, 590.94]","[542.49, 641.88]","[467.78, 512.95]",0,0,0,0,0,0.045757
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13195,133,0,NaN,11,0,r/g,0,80,50,0.0,...,"[635.09, 414.9]","[733.64, 271.54]","[634.7, 333.35]","[795.52, 261.99]",0,0,0,0,0,0.124939
13196,133,0,NaN,11,0,r/g,0,80,50,0.0,...,"[788.75, 553.83]","[749.13, 400.0]","[904.86, 353.12]","[826.02, 432.72]",0,0,0,0,0,0.000000
13197,133,0,NaN,11,0,r/g,0,80,50,0.0,...,"[704.2, 598.01]","[750.67, 661.48]","[799.22, 494.15]","[723.19, 510.42]",0,0,0,0,0,-0.176091
13198,133,0,NaN,11,0,r/g,0,80,50,0.0,...,"[647.96, 659.7]","[788.75, 553.83]","[872.5, 595.98]","[723.19, 510.42]",1,2,0,0,0,0.301030
13199,133,0,NaN,11,0,r/g,0,80,50,0.0,...,"[365.22, 654.28]","[273.97, 492.51]","[210.19, 588.02]","[305.76, 593.0]",3,2,0,0,0,0.000000

In [5]:
conj

,participantN,age,gender,trialN,task,condition,FeatConj,setSize,proportion,timelimit,...,closest_same_target,closest_other_target,closest_dist_same_color,closest_dist_same_shape,grouping_selected,grouping_same,grouping_switch,strict_line,blocked_grouped,ratio
0,2,0,NaN,0,0,rd/gs,1,80,50,0.0,...,"[730.59, 518.69]","[749.79, 652.45]","[892.28, 581.91]","[822.91, 552.75]",1,2,0,0,0,-0.021189
1,2,0,NaN,0,0,rd/gs,1,80,50,0.0,...,"[629.53, 508.08]","[879.09, 638.73]","[822.91, 552.75]","[812.32, 656.37]",0,0,0,0,0,0.000000
2,2,0,NaN,0,0,rd/gs,1,80,50,0.0,...,"[738.33, 265.48]","[887.28, 431.53]","[813.98, 505.94]","[786.45, 330.27]",0,0,0,0,0,-0.022276
3,2,0,NaN,0,0,rd/gs,1,80,50,0.0,...,"[646.24, 430.11]","[629.53, 508.08]","[727.23, 577.05]","[728.88, 445.54]",2,3,3,0,0,0.000000
4,2,0,NaN,0,0,rd/gs,1,80,50,0.0,...,"[816.06, 291.74]","[826.8, 425.4]","[919.61, 354.29]","[880.84, 489.44]",1,2,2,0,0,-0.023481
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13155,133,0,NaN,11,0,rd/gs,1,80,50,0.0,...,"[209.15, 499.94]","[297.34, 441.21]","[393.55, 486.93]","[294.81, 579.88]",0,0,0,0,0,0.301030
13156,133,0,NaN,11,0,rd/gs,1,80,50,0.0,...,"[230.74, 633.05]","[400.08, 651.14]","[393.55, 486.93]","[294.81, 579.88]",0,0,0,0,0,0.176091
13157,133,0,NaN,11,0,rd/gs,1,80,50,0.0,...,"[284.3, 643.15]","[146.9, 554.92]","[393.55, 486.93]","[226.6, 584.88]",0,0,0,0,0,0.000000
13158,133,0,NaN,11,0,rd/gs,1,80,50,0.0,...,"[309.17, 511.85]","[469.48, 557.46]","[393.55, 486.93]","[294.81, 579.88]",0,0,0,0,0,-0.301030
13159,133,0,NaN,11,0,rd/gs,1,80,50,0.0,...,"[379.79, 338.14]","[285.01, 205.82]","[301.73, 124.36]","[140.29, 205.39]",1,4,1,0,0,0.000000

### Delete '[  ]' from each row in coord coluns (for changing to float)

In [6]:
feat['resp_pos'] = feat['resp_pos'].str[1:-1]
feat['closest_same_target'] = feat['closest_same_target'].str[1:-1]
feat['closest_other_target'] = feat['closest_other_taget'].str[1:-1]
feat['closest_blue_dot'] = feat['closest_blue_dot'].str[1:-1]
feat['closest_yellow_dot'] = feat['closest_yellow_dot'].str[1:-1]

In [7]:
conj['resp_pos'] = conj['resp_pos'].str[1:-1]
conj['closest_same_target'] = conj['closest_same_target'].str[1:-1]
conj['closest_other_target'] = conj['closest_other_target'].str[1:-1]
conj['closest_dist_same_color'] = conj['closest_dist_same_color'].str[1:-1]
conj['closest_dist_same_shape'] = conj['closest_dist_same_shape'].str[1:-1]

### Change type of coord 'str' to 'float'

In [8]:
feat['resp_pos'] = feat['resp_pos'].apply(lambda x: [float(y) for y in x.split(',')])
feat['closest_same_target'] = feat['closest_same_target'].apply(lambda x: [float(y) for y in x.split(',')])
feat['closest_other_target'] = feat['closest_other_target'].apply(lambda x: [float(y) for y in x.split(',')])
feat['closest_blue_dot'] = feat['closest_blue_dot'].apply(lambda x: [float(y) for y in x.split(',')])
feat['closest_yellow_dot'] = feat['closest_yellow_dot'].apply(lambda x: [float(y) for y in x.split(',')])

In [9]:
conj['resp_pos'] = conj['resp_pos'].apply(lambda x: [float(y) for y in x.split(',')])
conj['closest_same_target'] = conj['closest_same_target'].apply(lambda x: [float(y) for y in x.split(',')])
conj['closest_other_target'] = conj['closest_other_target'].apply(lambda x: [float(y) for y in x.split(',')])
conj['closest_dist_same_color'] = conj['closest_dist_same_color'].apply(lambda x: [float(y) for y in x.split(',')])
conj['closest_dist_same_shape'] = conj['closest_dist_same_shape'].apply(lambda x: [float(y) for y in x.split(',')])

### Make columns with coord as np array

In [10]:
feat['cl_same'] = ((np.array(feat['resp_pos'].values.tolist())
                              - np.array(feat['closest_same_target']
                                         .values
                                         .tolist()))**2).sum(axis=1) ** 0.5
feat['cl_other'] = ((np.array(feat['resp_pos'].values.tolist()) 
                                 - np.array(feat['closest_other_target']
                                            .values
                                            .tolist()))**2).sum(axis=1) ** 0.5
feat['cl_blue'] = ((np.array(feat['resp_pos'].values.tolist()) 
                                 - np.array(feat['closest_blue_dot']
                                            .values
                                            .tolist()))**2).sum(axis=1) ** 0.5
feat['cl_yellow'] = ((np.array(feat['resp_pos'].values.tolist()) 
                                 - np.array(feat['closest_yellow_dot']
                                            .values
                                            .tolist()))**2).sum(axis=1) ** 0.5

In [11]:
conj['cl_same'] = ((np.array(conj['resp_pos'].values.tolist())
                              - np.array(conj['closest_same_target']
                                         .values
                                         .tolist()))**2).sum(axis=1) ** 0.5
conj['cl_other'] = ((np.array(conj['resp_pos'].values.tolist()) 
                                 - np.array(conj['closest_other_target']
                                            .values
                                            .tolist()))**2).sum(axis=1) ** 0.5
conj['cl_same_color'] = ((np.array(conj['resp_pos'].values.tolist()) 
                                 - np.array(conj['closest_dist_same_color']
                                            .values
                                            .tolist()))**2).sum(axis=1) ** 0.5
conj['cl_same_shape'] = ((np.array(conj['resp_pos'].values.tolist()) 
                                 - np.array(conj['closest_dist_same_shape']
                                            .values
                                            .tolist()))**2).sum(axis=1) ** 0.5

In [12]:
conj

,participantN,age,gender,trialN,task,condition,FeatConj,setSize,proportion,timelimit,...,grouping_selected,grouping_same,grouping_switch,strict_line,blocked_grouped,ratio,cl_same,cl_other,cl_same_color,cl_same_shape
0,2,0,NaN,0,0,rd/gs,1,80,50,0.0,...,1,2,0,0,0,-0.021189,190.949867,130.025876,58.330854,102.707121
1,2,0,NaN,0,0,rd/gs,1,80,50,0.0,...,0,0,0,0,0,0.000000,187.896686,130.025876,123.639089,62.652752
2,2,0,NaN,0,0,rd/gs,1,80,50,0.0,...,0,0,0,0,0,-0.022276,182.760355,60.789862,81.553933,103.333632
3,2,0,NaN,0,0,rd/gs,1,80,50,0.0,...,2,3,3,0,0,0.000000,122.316552,101.615430,58.456644,73.169984
4,2,0,NaN,0,0,rd/gs,1,80,50,0.0,...,1,2,2,0,0,-0.023481,156.887006,60.789862,83.733186,58.266986
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13155,133,0,NaN,11,0,rd/gs,1,80,50,0.0,...,0,0,0,0,0,0.301030,100.726603,71.623729,87.982901,69.529062
13156,133,0,NaN,11,0,rd/gs,1,80,50,0.0,...,0,0,0,0,0,0.176091,54.503978,116.055368,190.631191,64.136986
13157,133,0,NaN,11,0,rd/gs,1,80,50,0.0,...,0,0,0,0,0,0.000000,54.503978,114.601233,218.765058,48.347580
13158,133,0,NaN,11,0,rd/gs,1,80,50,0.0,...,0,0,0,0,0,-0.301030,104.503072,72.365282,80.431308,103.741688
13159,133,0,NaN,11,0,rd/gs,1,80,50,0.0,...,1,4,1,0,0,0.000000,226.072236,76.269919,110.853565,72.729280

#### Drop unuseful columns with coordinates

In [13]:
feat = feat.drop(['closest_same_target', 'closest_other_target', 'closest_other_taget', 'closest_blue_dot', 'closest_yellow_dot'], axis=1)

In [14]:
feat = feat[feat.switches != 2]

In [15]:
conj = conj.drop(['closest_same_target', 'closest_other_target', 'closest_dist_same_color', 'closest_dist_same_shape'], axis=1)

In [16]:
conj = conj[conj.switches != 2]

In [17]:
conj

,participantN,age,gender,trialN,task,condition,FeatConj,setSize,proportion,timelimit,...,grouping_selected,grouping_same,grouping_switch,strict_line,blocked_grouped,ratio,cl_same,cl_other,cl_same_color,cl_same_shape
1,2,0,NaN,0,0,rd/gs,1,80,50,0.0,...,0,0,0,0,0,0.000000,187.896686,130.025876,123.639089,62.652752
2,2,0,NaN,0,0,rd/gs,1,80,50,0.0,...,0,0,0,0,0,-0.022276,182.760355,60.789862,81.553933,103.333632
3,2,0,NaN,0,0,rd/gs,1,80,50,0.0,...,2,3,3,0,0,0.000000,122.316552,101.615430,58.456644,73.169984
4,2,0,NaN,0,0,rd/gs,1,80,50,0.0,...,1,2,2,0,0,-0.023481,156.887006,60.789862,83.733186,58.266986
5,2,0,NaN,0,0,rd/gs,1,80,50,0.0,...,2,3,2,0,0,-0.048305,111.162591,82.045966,48.593343,109.702712
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13155,133,0,NaN,11,0,rd/gs,1,80,50,0.0,...,0,0,0,0,0,0.301030,100.726603,71.623729,87.982901,69.529062
13156,133,0,NaN,11,0,rd/gs,1,80,50,0.0,...,0,0,0,0,0,0.176091,54.503978,116.055368,190.631191,64.136986
13157,133,0,NaN,11,0,rd/gs,1,80,50,0.0,...,0,0,0,0,0,0.000000,54.503978,114.601233,218.765058,48.347580
13158,133,0,NaN,11,0,rd/gs,1,80,50,0.0,...,0,0,0,0,0,-0.301030,104.503072,72.365282,80.431308,103.741688
13159,133,0,NaN,11,0,rd/gs,1,80,50,0.0,...,1,4,1,0,0,0.000000,226.072236,76.269919,110.853565,72.729280

#### Make csv files for 'feat', 'conj', 'feat_conj'

In [18]:
feat.to_csv(r'C:\Users\lttso\Desktop\feat.csv', index = False)

In [19]:
conj.to_csv(r'C:\Users\lttso\Desktop\conj.csv', index = False)

In [20]:
#feat_conj = feat.append(conj, sort=False)

In [21]:
#feat_conj.to_csv(r'C:\Users\User\Desktop\feat_conj.csv', index = False)

#### Filling Na with the -1 value in 'feat_conj'

In [22]:
#both = pd.read_csv(r'C:\Users\User\Desktop\feat_conj.csv')

In [23]:
#both['cl_blue'] = both['cl_blue'].fillna(-1).astype(float)
#both['cl_yellow'] = both['cl_yellow'].fillna(-1).astype(float)
#both['cl_same_color'] = both['cl_same_color'].fillna(-1).astype(float)
#both['cl_same_shape'] = both['cl_same_shape'].fillna(-1).astype(float)

#### Make a final file for 'feat_conj'

In [24]:
#both.to_csv(r'C:\Users\User\Desktop\feat_conj.csv', index = False)